<template>
  <div class="home">
    <el-form :inline="true" :model="task" class="demo-form-inline">
      <el-form-item label="Task name">
        <el-input v-model="task.name" placeholder=""></el-input>
      </el-form-item>
      <el-form-item label="Task average time, min">
        <el-input type="number" v-model="task.time" placeholder=""></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="createTask">Create task</el-button>
      </el-form-item>
    </el-form>
    <el-form :inline="true" :model="task" class="demo-form-inline">
      <el-form-item label="Pipeline name">
        <el-input v-model="pipeline.name" placeholder=""></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="createPipeline">Create pipeline</el-button>
      </el-form-item>
    </el-form>
    <div class="pipe-container">
      <div class="pipe-list">
        <draggable
        id="default-list"
        class="list-group"
        :list="defaultPipeline" group="tasks"
        :move="checkMove"
        @change="updateHandler">
            <div
              class="list-group-item"
              v-for="(element) in defaultPipeline"
              :key="element"
            >
              <div class="task">{{ tasks[element].name }}, time: {{ tasks[element].av_time }}</div>
            </div>
        </draggable>
      </div>
      <div
        v-for="(pipeline, index) of pipelines"
        :key="index"
        class="pipe-list"
      >
        <h3>{{pipeline.name}}</h3>
        <h4 v-if="pipeline.tasks.length > 0">Average time: {{ pipelineTime(pipeline) }}</h4>
        <el-button
        v-if="pipeline.tasks.length > 0"
        type="primary"
        @click="runPipeline(pipeline)"
        :disabled="pipeline.run">Run pipeline</el-button>
        <draggable
        :id="pipeline.PipelineId"
        class="list-group"
        :list="pipeline.tasks" group="tasks" :move="checkMove" @change="updateHandler">
            <div
              class="list-group-item"
              v-for="(element) in pipeline.tasks"
              :key="element"
            >
              <div class="task">{{ tasks[element].name }}, time: {{ tasks[element].av_time }}</div>
            </div>
        </draggable>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable';

export default {
  name: 'Home',
  components: {
    draggable,
  },
  data() {
    return {
      task: {
        title: '',
        time: '',
      },
      pipeline: {
        name: '',
      },
      defaultPipeline: [
      ],
      pipelines: [],
      tasks: {},
      updatePipelineProc: null,
      oldPipeline: null,
      newPipeline: null,
    };
  },
  async mounted() {
    try {
      const tasks = await this.$api.get('http://localhost:3000/api/tasks');
      tasks.data.forEach((task) => {
        this.tasks[task.TaskId] = task;
        if (!task.current_pipeline) {
          this.defaultPipeline.push(task.TaskId);
        }
      });

      const pipelines = await this.$api.get('http://localhost:3000/api/pipelines');
      pipelines.data.forEach((pipeline) => {
        this.pipelines.push({
          ...pipeline,
          run: false,
        });
      });
    } catch (e) {
      console.log('e', e);
    }
  },
  methods: {
    pipelineTime(pipeline) {
      let time = 0;
      pipeline.tasks.forEach((el) => {
        time += this.tasks[el].av_time;
      });
      return time;
    },
    async createTask() {
      const response = await this.$api.post('http://localhost:3000/api/tasks', {
        name: this.task.name,
        time: this.task.time,
      });
      this.task.name = '';
      this.task.time = '';
      this.tasks[response.data.TaskId] = response.data;
      this.defaultPipeline.push(response.data.TaskId);
    },
    async createPipeline() {
      const response = await this.$api.post('http://localhost:3000/api/pipelines', {
        name: this.pipeline.name,
        tasks: [],
      });
      this.pipeline.name = '';
      this.pipelines.push(response.data);
    },
    async checkMove(evt) {
      try {
        if (this.updatePipelineProc) {
          return false;
        }
        this.oldPipeline = evt.from.id;
        this.newPipeline = evt.to.id;
        return true;
      } catch (e) {
        return false;
      }
    },

    async updateHandler(el) {
      if (el.added && el.added.element) {
        await this.updatePipelines(el.added.element, this.oldPipeline, this.newPipeline);
        this.oldPipeline = null;
        this.newPipeline = null;
      }
    },

    async updatePipelines(id, from, to) {
      this.updatePipelineProc = true;
      const oldPipeline = this.pipelines.find((el) => el.PipelineId === from);
      const newPipeline = this.pipelines.find((el) => el.PipelineId === to);

      if (oldPipeline) {
        await this.$api.put('http://localhost:3000/api/pipelines', {
          id: from,
          tasks: oldPipeline.tasks,
        });
      }

      if (newPipeline) {
        await this.$api.put('http://localhost:3000/api/pipelines', {
          id: to,
          tasks: newPipeline.tasks,
        });
      }
      await this.$api.put('http://localhost:3000/api/tasks', {
        id,
        current_pipeline: newPipeline ? newPipeline.PipelineId : null,
      });

      this.updatePipelineProc = false;
    },

    async runPipeline(pipeline) {
      /* eslint no-param-reassign: "error" */
      try {
        pipeline.run = true;
        await this.$api.post('http://localhost:3000/api/pipelines/run', { id: pipeline.PipelineId });
        pipeline.run = false;
        this.$message({
          message: `Pipeline (${pipeline.name}) finished`,
          type: 'success',
        });
      } catch (e) {
        pipeline.run = false;
        this.$message.error('Error on run pipeline!');
        console.log('error', e);
      }
    },
  },

  async getTasks() {
    const tasks = await this.$api.get('http://localhost:3000/api/tasks');
    tasks.data.forEach((task) => {
      this.tasks[task.TaskId] = task;
    });
  },

  async getPipelines() {
    const pipelines = await this.$api.get('http://localhost:3000/api/pipelines');
    this.pipelines = [];
    pipelines.data.forEach((pipeline) => {
      this.pipelines.push({
        ...pipeline,
        run: false,
      });
    });
  },
};
</script>


<style lang="scss">
  .pipe-container {
    display: flex;
    justify-content: space-around;
  }
  .pipe-list {
    min-width: 200px;
    min-height: 500px;
    background-color: #fbf9f9;
    border-radius: 10px;
    padding: 30px 10px;
    border: 1px solid gray;
  }
  .list-group {
    height: 100%;
  }
  .task {
    margin: 10px 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 5px;
  }
</style>
